* {
    margin: 10px; /*margin establece el margen para los cuatro lados*/
    padding: 5px; /*padding establece el espacio de relleno*/
   box-sizing: border-box;
    background-color: white; /*cambia el color de relleno*/
    font-family: Verdana; /*cambia el tipo de letra*/
}

body, header, nav, div, main, footer, figure {
    border: 2px solid;
}

.container {
    display: flex;
    flex-direction: row;
    background: steelblue;
  }
  
  .logo {
    background: grey;
  }

  .menu {
        background: black;
        flex-direction: row;
  }

.grid-container {
    width: 100%;
    display: grid;
    grid-template: 100px 1fr 100px / 400px 1fr;
    grid-gap: 10px;
    background-color: blue;
    padding: 10px;
}
.grid-container > section{
    background-color: lightblue;
    text-align: center;
    font-size: 20px;
    height: 40px;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: yellow;
}
.item2{
        grid-column-start: 1;
        grid-column-end: 3;
        background: blue;
}