html {
    height: 100%;
}

.container{
    display: grid;
    grid-template: 200px 50px 1fr 4rem / 200px 1fr;
    grid-template-areas: "logo titulo"
                         "header header"
                         "contenido contenido"
                         "footer footer";
    grid-gap: 10px;
    height: 100vh;
    font-size: 100%;
}

.item{
    background-color: white;
    padding: 10px;
    color: #1B6EB4;
    border-radius: 10px;
    display: grid;
    font-family: "Literata";
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .container .titulo{
    font-size: 2rem;
    }
    .container .logo img{
    width: 100%;
    text-align: center;
    }
    .container .header ul li{
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    }

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container .titulo{
    font-size: 3rem;}
    .container .header ul li{
    font-size: 1.5rem;
    }

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container .titulo{
        font-size: 5rem;}
        .container .header ul li{
        font-size: 1.5rem;}
  } 

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container .titulo{
        font-size: 5rem;}
        .container .header ul li{
        font-size: 1.5rem;}
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container .titulo{
    font-size: 5rem;}
    .container .header ul li{
    font-size: 1.5rem;}

  }

.logo{
    grid-area: logo;
    justify-content: start;
    background-color: white;
}

.titulo{
    grid-area: titulo;
    font-family: "Literata";
    font-size: 4rem;
    justify-content: center;
    align-content: center;
}
.header{
    grid-area: header;
    justify-content: center;
    align-content: center;
    background-color: #eb7608;
}

.contenido{
    grid-area: contenido;
    justify-content: space-around;
    font-family: "Crimson";
    font-size: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer{
    grid-area: footer;
    text-align: center;
}

#menu {
    font-family:Arial;
    font-weight:bold;
    font-family: "Literata";
    font-size: 30px;
}

#menu li {
    display:inline;
    padding-left:3px;
    padding-right:3px;
}

a {
    color:white;
    text-decoration:none;
}

a:hover {
    color:black;
    background-color:lightgray;
}

.footer div h4 svg{
    justify-content: center;
    align-content: center;
    align-items: center;
}

.logo img{
width: 200px;
}

/* A partir de acá comienza el carrousel */

.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  }