

.container{
    display: grid;
    grid-template: 200px 50px 1fr 1fr / 200px 1fr;
    grid-template-areas: "logo titulo"
                         "header header"
                         "contenido contenido"
                         "footer footer";
    grid-gap: 10px;
    height: 100vh;
}

.item{
    background-color: #1B6EB4;
    padding: 10px;
    color: white;
    border-radius: 10px;
    display: grid;
    font-family: "Literata";
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .container {background: red;}
    .item {font-size: 10px;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {background: blue;}
  } 

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {background: #1B6EB4;}
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {background:white;}
  }

.logo{
    grid-area: logo;
    justify-content: start;
    background-color: white;
    transition: width 2s, height 2s, transform 2s;
}

.titulo{
    grid-area: titulo;
    font-family: "Literata";
    font-size: 5rem;
    justify-content: center;
    align-content: center;
}
.header{
    grid-area: header;
    justify-content: center;
    align-content: center;
    background-color: #eb7608;
}

.contenido{
    grid-area: contenido;
    justify-content: space-around;
    font-family: "Crimson";
    font-size: 100%;
    justify-content: center;
    align-content: center;
}

.footer{
    grid-area: footer;
    display: inline;
    justify-content: center;
    align-content: center;
}

#menu {
    font-family:Arial;
    font-weight:bold;
    font-family: "Literata";
    font-size: 30px;
}

#menu li {
    display:inline;
    padding-left:3px;
    padding-right:3px;
}

a {
    color:white;
    text-decoration:none;
}

a:hover {
    color:black;
    background-color:lightgray;
}
