*{
    margin: 0;
 }

.container{
    display: grid;
    grid-template: 120px 1fr 2fr 2fr 1fr 4rem / 200px 1fr 1fr 1fr;
    grid-template-areas: "logo titulo titulo titulo"
                         "logo header header header"
                         "contenido contenido contenido contenido"
                         "mapa mapa iframe iframe"
                         "articulo articulo weather-content weather-content"
                         "footer footer footer footer";
    grid-gap: 5px;
    height: 100vh;
    font-size: 100%;
}

.item{
    background-color: white;
    padding: 10px;
    color: #1B6EB4;
    border-radius: 10px;
    display: grid;
    font-family:'Barlow Condensed', sans-serif;
    justify-content: center;
    align-items: center;
}

.logo{
    grid-area: logo;
    justify-content: start;
    background-color: white;
}

.titulo{
    grid-area: titulo;
     font-size: 4rem;
    justify-content: center;
    align-content: center;
}
.header{
    grid-area: header;
    justify-content: center;
    align-content: center;
    background-color: #eb7608;
    font-family:'Barlow Condensed', sans-serif;
    margin-right: 10px;
}

.contenido{
    grid-area: contenido;
    justify-content: space-around;
    font-family:'Barlow Condensed', sans-serif;
    font-size: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.mapa{
    grid-area: mapa;
    margin-top: 20px;
}

.iframe{
    grid-area: iframe;
}

.weather-content{
    grid-area: weather-content;
}

.articulo{
    grid-area: articulo;
    text-align: center;
}

.footer{
    grid-area: footer;
    display:inline;
    text-align: center;
}

#menu {
    font-family:Arial;
    font-weight:bold;
    font-family:'Barlow Condensed', sans-serif;
    font-size: 30px;
}

#menu li {
    display:inline;
    padding-left:3px;
    padding-right:3px;
}

a {
    color:white;
    text-decoration:none;
}

a:hover {
    color:#464646;
}

.logo img{
width: 100%;
}

.contenido p {
    text-align: right;
}
/* A partir de acá comienza el carrousel */

.slider-container {
    display: flex;
    width: 100%;
    height: 70vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  }


/* Fin del carrousel */

  /* Dispositivos pequeños (smartphones, etc. Max 767px) */
  @media only screen and (max-width: 767px) {
    .container{
        display: grid;
        grid-template: 2rem 2rem 1fr 2fr 1fr 1fr 1fr 2rem / 25% 75%;
        grid-template-areas: "logo titulo"
                             "logo header"
                             "contenido contenido"
                             "mapa mapa"
                             "iframe iframe"
                             "articulo articulo"
                             "weather-content weather-content"
                             "footer footer";
        grid-gap: 0.5%;
        height: 100vh;
        font-size: 100%;
    }

    .container .titulo{
    font-size: 1.5rem;
    }
    .container .logo img{
    width: 90%;
    }
    .container .header ul li{
    font-size: 0.8rem;
    }
    .logo img{
        height: 4rem;
    }
  }
  

  /* Dispositivos medianos (tablets, etc. 768px y superiores) */
@media only screen and (min-width: 768px) {
    .container{
        display: grid;
        grid-template: 120px 1fr 2fr 2fr 2fr 2fr 2fr 4rem / 200px 1fr 1fr 1fr;
        grid-template-areas: "logo titulo titulo titulo"
                             "logo header header header"
                             "contenido contenido contenido contenido"
                             "mapa mapa mapa mapa"
                             "iframe iframe iframe iframe"
                             "articulo articulo articulo articulo"
                             "weather-content weather-content weather-content weather-content"
                             "footer footer footer footer";
        grid-gap: 0.5%;
        height: 100vh;
        font-size: 100%;
    }
    .container .titulo{
        font-size: 3.5rem;}
    .container .header ul li{
        font-size: 1.5rem;}
     
  } 

  /* Dispositivos grandes (laptops/PCs, 992px y superiores) */
@media only screen and (min-width: 992px) {
    .container{
        display: grid;
        grid-template: 120px 1fr 2fr 2fr 1fr 4rem / 200px 1fr 1fr 1fr;
        grid-template-areas: "logo titulo titulo titulo"
                             "logo header header header"
                             "contenido contenido contenido contenido"
                             "mapa mapa iframe iframe"
                             "articulo articulo weather-content weather-content"
                             "footer footer footer footer";
        grid-gap: 5px;
        height: 100vh;
        font-size: 100%;
    }
    .container .titulo{
        font-size: 5rem;}
        .container .header ul li{
        font-size: 1.5rem;}
  }
  